.infoWindow ul.checked{
	list-style-image: url('/dashboard/icons/checked.png');
}
.infoWindow ul.cross{
	list-style-image: url('/dashboard/icons/cross.png');
}
.gm-style-iw > div{
	overflow:hidden !important;
}

div.tableCluster{
	max-height:608px;
	overflow-x: hidden;
	overflow-y:scroll;
}

.status-box{
	display: inline-block;
    width: 35px;
    height: 35px;
	cursor:pointer;
	margin-right:10px;
}
.status-box.active{
	box-shadow:3px 3px 3px #000;
}
.status-box.blue{
    background: blue;
}
.status-box.red{
    background: red;
}
.status-box.green{
    background: green;
}
.status-box.yellow{
    background: yellow;
}
.status-box.orange{
    background: orange;
}

span.twitter-typeahead{
	width:100%;
}

.fc-event{
	border: 0;
    padding: 5px 7px;
}

td.faltantes .label{
	display:inline-block;
	width:100%;
}

.label-green{
	background: green;
}
.page-logo .logo{
	margin:12px 0 0;
	width:100%;
}

.bg-green{
	background-color:#6aab35 !important;
}
.txt-green{
	color:#6aab35 !important;
}
.border-green{
	border-color:#6aab35 !important;
}